// Colors
$primary-color: #1c9dea;
$secondary-color: #223645;
$bluish: #eff7fe;
$blue: #2c67ce;
$orange: #ff4e2b;
$gray: #647589;
$text-color: #223645;
$text-color-light: #647589;
$bg-color: #fff;
$warning: #ffc107;
$error: #f5202b;

// Fonts
$primary-font: "Roboto", Helvetica, Arial, sans-serif;
$secondary-font: "Poppins", Helvetica, Arial, sans-serif;
$cursive-font: "Caveat", cursive;

// breakpoints
$tablet: 768px;
$laptop: 900px;
$pc: 1200px;
$x-large: 1550px;
$max-width: 1200px;

$t-time: 200ms;
$t-time-2: 300ms;
$t-easing: ease-in-out;
