@import "./config/vars.module";

$themes: (
	light: (
		bg-color: $bg-light-theme,
		opaque-bg: rgba($bg-light-theme, 0.9),
		text-color: $text-color-light-theme,
		primary-color: $primary-color-light-theme,
		secondary-color: $secondary-color-light-theme,
		nav-bg: $bg-light-theme,
		panel-bg: #f5f7fb,
		profile-border-color: #f0eff5,
		nav-item-bg: $primary-color,
		nav-item-color: white,
		user-chat-bg: white
	),
	dark: (
		bg-color: black,
		opaque-bg: rgba(black, 0.85),
		text-color: white,
		primary-color: $primary-color-light-theme,
		secondary-color: $secondary-color-light-theme,
		nav-bg: black,
		panel-bg: #f5f7fb,
		profile-border-color: #f0eff5,
		nav-item-bg: $primary-color,
		nav-item-color: white,
		user-chat-bg: white
	)
);
