@import "../../../../styles/config.module";

.Header {
	width: 100%;
	margin-bottom: 4rem;
	@include flex(row, center);
}

.HeaderAction {
	font-size: 2.5rem;
}

.Title {
	font-size: 2.5rem;
	margin-bottom: 0;
}

.Body {
	width: 100%;
}
