@import "../../../../styles/config.module";

.RememberMe {
  @include flex;
}

.Actions {
  @include flex(row, flex-start, center);
  margin-bottom: 2rem;

  button,
  a {
    line-height: 1.2;
    margin: 0 2rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
  }

  @media screen and (max-width: 350px) {
    flex-direction: column;
    align-items: center;

    button {
      margin: 0 0 2rem 0;
    }
  }
}

.MoreOptions {
  @include flex(row, flex-start, center);

  button {
    margin: 0 1rem;
  }
}
